@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.E-store-logo {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 25px;
}

#navItem1 {
    color: #323f4b;
    font-family: "Roboto";
}

#navItem2 {
    color: #323f4b;
    font-family: "Roboto";
}

#navItem3 {
    color: #323f4b;
    font-family: "Roboto";
}

#navItem4 {
    color: #323f4b;
    font-family: "Roboto";
}

.user-logo {
    width: 100px;
    height: 90px;
    margin-left: 180px;
}

.site-name-heading {
    color: black;
    font-family: "Roboto";
    cursor: pointer;
}

.cart {
    position: relative;
    background-color: #24a0ed;
    color: #212529;
    font-size: 30px;
    padding: 5px;
    border-radius: 4px;
    margin-right: 12px;
    cursor: pointer;
}

.cartAmount {
    position: absolute;
    top: -15px;
    right: -10px;
    font-size: 16px;
    background-color: red;
    color: white;
    padding: 3px;
    border-radius: 3px;
}